body {
    margin: 0;
    padding: 0;
    background-color: beige;
}

#Principal {
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    color: green;
    font-size: 30px;
    text-decoration: underline;
    margin: 2%;
}

.tb1 {
    border: solid;
    border-bottom: 1px;
    border-color:black;
    width: 766px;
    height: 36px;
    background-color: #000033;
    margin: 1%;
    
}

.titulo {
    font-family: Arial;
    font-style: italic;
    font-size: 15px;
    background-color: #fff;
}

.origem {
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    color: #280;
    background-color: #fff;
}

.resumo {
    font-family: Arial;
    font-size: 12px;
    background-color: #fff;    
}

#rodape {
    font-family: Arial;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    background-color: #cfb;
}

a:link {
    color: #0000ff;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #ddc71a;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #ff0000;
    background-color: transparent;
    text-decoration: underline;
    font-weight: bold;
  }
  
  a:active {
    color: #ac0b44;
    background-color: transparent;
    text-decoration: underline;
  }